##Este arquivo está incompleto, devido ao repositório estar público.

database_driver=pdo_pgsql
database_host=postgres
database_port=5432
database_name=email
database_user=email
database_password=mysecretpassword


memcached_host=memcache
memcached_port=11211

sp_metadata=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/idp-FederationMetadata.xml
sp_certificate_crt=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.crt
sp_certificate_pem=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.pem

##rabbit mqueue
rabbitmq_host=rabbitmq
rabbitmq_port=5672
rabbitmq_user=guest
rabbitmq_password=guest
rabbitmq_vhost=diretorio