database_driver=pdo_pgsql
database_host=postgres
database_port=5432
database_name=email
database_user=email
database_password=mysecretpassword

##Hash para criptografia da senha do SMTP.
salt=salt

sentry_env=QA
secret=secret

#Informações da Amazon
amazon_key=key
amazon_secret=secret
amazon_region=us-west-2
amazon_version=2010-12-01
amazon_s3_bucket_name=name

#Configuracao para serviço de e-mail
amazon_ses_transactional_configuration_set_name=name

##Keycloak/LoginBundle
diretorio_url=diretorio_url
diretorio_sistema_id=266
api_key=api_key

entity_id=http://localhost

#Certificados Saml
sp_metadata=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/idp-FederationMetadata.xml
sp_certificate_crt=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.crt
sp_certificate_pem=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.pem

##rabbit mqueue
rabbitmq_host=rabbitmq
rabbitmq_port=5672
rabbitmq_user=guest
rabbitmq_password=guest
rabbitmq_vhost=diretorio